<div class="phenomCard">
  <div class="phType">
    <img src="../images/markers/big/{{this.type}}.png" alt="">
  </div>
  <div class="phenomInfoDetails">
    <div class="phenomText">
      <p class="phenomId">{{this._id}}</p>
      <p class="favorites"><span class="x-favorite heart"></span><span class="favNum">5</span></p>
    </div>
    <h4 class="phenomTitle">{{this.name}}</h4>
    <div class="phenomDetails">
      <p>{{this.type}}</p>
    </div>
  </div>
  <a class="goPhenom" href="/phenomena/{{this._id}}"><span class="x-back"></span></a>
</div>