<div class="routeCard">
  <img class="routeImg" src="/images/avatars/addimg.png" alt="">
  <div class="infoRouteDetails">
    <div class="routeText">
      <p class="routeId">{{this._id}}</p>
      <p class="favorites"><span class="x-favorite heart"></span><span class="favNum">{{this.numFavs}}</span></p>
    </div>
    <h4 class="routeTitle">{{this.routetitle}}</h4>
    <div class="routeDetails">
      <p class="distance">10km</p><p class="separator">|</p><p class="difficulty">hard</p><p class="separator">|</p><p class="creator">{{this.creatorId.username}}</p>
    </div>
  </div>
  {{#if @root.addingPhenomenon}}
    <div class="addPhenomenonToRoute">
      <form method="POST" action="/routes/{{this._id}}/add/{{@root.phenomenon}}">
        <button type="submit"><span class="x-registered {{this.alreadyIn}}"></span></button>
      </form>
    </div>
  {{else}}
    <a class="goRoute" href="/routes/{{this._id}}/detail"><span class="x-back"></span></a>
  {{/if}}
</div>
