<div class="slider">
  {{#each phenomenon.imgPhenomUrls}}
  <img src={{this}} alt="">
  {{/each}}
</div>


<div class="phHeader">
  <div class="phTitle">
    <h5>{{phenomenon.name}}</h5>
    {{#if editUser}}
    <a href="/phenomena/{{phenomenon._id}}/edit/"><i class="x-update"></i></a>
    <a href="/phenomena/{{phenomenon._id}}/delete/"><i class="x-delete"></i></a>
    {{/if}}
  </div>
  <div class="phTypeDate">
    <p>{{phenomenon.type}}</p>
    <p>|</p>
    <p>discovered on {{phenomCreationDate}}</p>
  </div>
</div>

<div class="phFavReg">

  {{#if visited}}
  <div>
    <p>Ya registrado</p>
  </div>
  {{else}}
  <div class="phFavRegCell">
    <form method="POST" action="/phenomena/{{phenomenon._id}}/register">
      <div class="form-group">
        <input type="hidden" name="latitude" placeholder="latitude">
        <input type="hidden" name="longitude" placeholder="longitude">
      </div>
      <button type="submit"><i class="x-sighting"></i>register</button>
    </form>
  </div>
{{/if}}

  <div class="phFavRegCell">
    <form method="POST" action="/phenomena/{{phenomenon._id}}/favourite">
      <button type="submit"><i class="x-favorite"></i>favourite</button>
    </form>
  </div>
</div>

<div class="phBody">
  <div class="phCreator">
    <p>discovered by:</p>
    <p>{{creator.username}}</p>
  </div>

  <div class="accordionWrapper">

    <div class="accordionItem">
      <div class="accordionItemHeading">
        <p>description:</p>
      </div>

      <div class="accordionItemContent">
        {{!-- <p>{{phenomenon.description}}</p> --}}
      </div>
    </div>

    <div class="accordionItem">
      <div class="accordionItemHeading">
        <p>community comments</p>
      </div>

      <div class="accordionItemContent">
        <p>hola que hase</p>
      </div>
    </div>

    <div class="accordionItem">
      <div class="accordionItemHeading">
        <p>community images</p>
      </div>

      <div class="accordionItemContent">
        <p></p>
      </div>
    </div>

    <div class="accordionItem">
      <div class="accordionItemHeading">
        <p>routes it belongs to</p>
      </div>

      <div class="accordionItemContent">
        <p>hola que hase</p>
      </div>
    </div>


  </div>


</div>

<script src="../../javascripts/accordion.js"></script>
<script src="../../javascripts/map/geolocate.js"></script>
<script src="../../javascripts/registerPhenom.js"></script>