<div class="slider">
  {{#each phenomenon.imgPhenomUrls}}
  <div class="sliderImage">
    <img src={{this}} alt="">
    </div>
  {{/each}}
</div>


<div class="phHeader">
  <div class="phTitle">
    <h5>{{phenomenon.name}}</h5>
    {{#if editUser}}
    <a href="/phenomena/{{phenomenon._id}}/edit/"><i class="x-update"></i></a>
    <a href="/phenomena/{{phenomenon._id}}/delete/"><i class="x-delete"></i></a>
    {{/if}}
  </div>
  <div class="phTypeDate">
    <p>{{phenomenon.type}}</p>
    <p>|</p>
    <p>discovered on {{phenomCreationDate}}</p>
  </div>
</div>

<div class="phFavReg">

  {{#if visited}}
  <div class="phRegisted">
    <i class="x-sighting">Registered</i>
  </div>
  {{else}}
  <div class="phFavRegCell">
    <form method="POST" action="/phenomena/{{phenomenon._id}}/register">
      <div class="form-group">
        <input type="hidden" name="latitude" placeholder="latitude">
        <input type="hidden" name="longitude" placeholder="longitude">
      </div>
      <button type="submit"><i class="x-sighting"></i>register</button>
    </form>
  </div>
  {{/if}}

  {{#if favourite}}
  <div class="phFavourite">
    <i class="x-favorite">Favourite</i>
  </div>
  {{else}}
  <div class="phFavRegCell">
    <form method="POST" action="/phenomena/{{phenomenon._id}}/favourite">
      <button type="submit"><i class="x-favorite"></i>favourite</button>
    </form>
  </div>
  {{/if}}
</div>

<div class="phCreator">
  <p>discovered by:</p>
  <p>{{creator.username}}</p>
</div>

<div class="phContent accordionWrapper">

  <div class="phDescription accordionItem">
    <div class="phDescHeader accordionItemHeading">
      <p>description:</p>
    </div>

    <div class="phDescContent accordionItemContent">
      {{!-- <p>Esto es una description fija para poder maquetar pero se empieza a solapar con lo de abajo si es mas larga </p> --}}
      {{!-- <p>{{phenomenon.description}}</p> --}}
    </div>
  </div>

  <div class="phComments accordionItem">
    <div class="phCommentsHeader accordionItemHeading">
      <p>community comments</p>
    </div>

    {{#if reviews}}
      <div class="phCommentsContent accordionItemContent">
      {{#each reviews}}
      {{> reviewCard this}}
      {{/each}}
      </div>
    {{else}}
    <div class="phCommentsContent accordionItemContent">
      <p>There are no comments</p>
    </div>
    {{/if}}

    {{> addReview phenomenon}}
  </div>

  {{!-- <div class="phGallery accordionItem">
    <div class="phGalleryHeader accordionItemHeading">
      <p>community images</p>
    </div>

    <div class="phGalleryContent accordionItemContent">
      <p>Aqui se mostrara la galleria</p>
    </div>
  </div>

  <div class="phRoutes accordionItem">
    <div class="phRoutesHeader accordionItemHeading">
      <p>routes it belongs to</p>
    </div>

    <div class="phRoutesContent accordionItemContent">
      <p>hola que hase</p>
    </div>
  </div> --}}


</div>

{{!-- Tere necesito un botón para añadir fenómeno a ruta, te lo dejo aquí provisional --}}
<a href="/routes/add/{{phenomenon._id}}"><span class="x-routes"></span><span class="text"> add to route</span></a>


<script src="../../javascripts/accordion.js"></script>
<script src="../../javascripts/map/geolocate.js"></script>
<script src="../../javascripts/registerPhenom.js"></script>
