<div class="slider">
  {{#each phenomenon.imgPhenomUrls}}
  <div class="sliderImage">
    <img src={{this}} alt="">
  </div>
  {{/each}}
</div>

<div class="section firstSection">
  <div class="phenomMainInfo">
    {{#if editUser}}
    <h4 class="mainTitle">{{phenomenon.name}}</h4>
    <div class="actions">
      <a href="/phenomena/{{phenomenon._id}}/edit/"><i class="x-update"></i></a>
      <a href="/phenomena/{{phenomenon._id}}/delete/"><i class="x-delete"></i></a>
    </div>
    {{else}}
    <h4 class="mainTitle alone">{{phenomenon.name}}</h4>
    {{/if}}
  </div>
  {{#if editUser}}
  <p class="discoveredOn">discovered on: {{phenomCreationDate}}</p>
  {{else}}
  <p class="discoveredOn alone">discovered on: {{phenomCreationDate}}</p>
  {{!-- <div class="phTypeDate">
    <p>{{phenomenon.type}}</p>
    <p>|</p>
  </div> --}}
  {{/if}}
</div>

<div class="section sectionBtn">
  {{#if visited}}
  <p class="registered"><span class="x-sighting-fill active"></span><span class="text">sighted</span></p>
  {{else}}
  <div class="registerPhenom">
    <form method="POST" action="/phenomena/{{phenomenon._id}}/register">
      <div class="form-group">
        <input type="hidden" name="latitude" placeholder="latitude">
        <input type="hidden" name="longitude" placeholder="longitude">
      </div>
      <button type="submit"><span class="x-sighting"></span></button><span class="text">sighted</span>
    </form>
  </div>
  {{/if}}

  {{#if favourite}}
  <p class="favourite"><span class="x-favorite-fill active"></span><span class="text">favourite</span></p>
  {{else}}
  <div class="favouritePhenom">
    <form method="POST" action="/phenomena/{{phenomenon._id}}/favourite">
      <button type="submit"><span class="x-favorite"></span></button><span class="text">favourite</span>
    </form>
  </div>
  {{/if}}
</div>

<div class="section sectionAddToRoute">
  <a class="addToRouteBtn" href="/routes/add/{{phenomenon._id}}"><span class="x-routes routesBtn"></span><span class="text"> add to route</span></a>
</div>

<div class="section secondSection">
  <p class="discoveredBy"><span class="text">discovered by:</span> <span class="username">{{creator.username}}</span></p>
</div>

<div class="section thirdSection">
  <p class="description">description:</p>
  <p class="text">{{phenomenon.description}}</p>
</div>

<div class="section fourthSection">
  <p class="comments"><span class="text">comments:</span> <span class="x-back" id="expandComments"></span></p>
  <ul class="commentsList" id="commentsAccordion">
    {{#unless reviews}}
    <li class="comment noComment">There are no comments in this phenomenon yet</li>
    {{/unless}}
    {{#each reviews}}
    <li class="comment">
      <p class="metaData">
        <span>
          <span>{{this.formatTime}}</span><span> | </span><span>{{this.formatDate}}</span>
        </span>
        <span class="author">author: {{this.authorId.username}}</span>
      </p>
      <p class="commentContent">{{this.content}}</p>
      {{#if canDelete}}
      <p class="deleteBtn"><span class="x-delete"></span></p>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>

<div class="section addCommentSection">
  <form class="addComment" method="POST" action="/phenomena/{{phenomenon._id}}/postReview">
    <div class="commentBox">
      <textarea type="text" name="content" placeholder="write your comment here"></textarea>
      <button type="submit" class="addCommentBtn"><span class="x-plus"></span></button>
    </div>
    <div class="messages">
      {{#each messages}}
      <div class="error-message">{{this}}</div>
      {{/each}}
    </div>
  </form>
</div>

{{!-- <div class="phGallery accordionItem">
  <div class="phGalleryHeader accordionItemHeading">
    <p>community images</p>
  </div>

  <div class="phGalleryContent accordionItemContent">
    <p>Aqui se mostrara la galleria</p>
  </div>
</div>



<div class="phRoutes accordionItem">
  <div class="phRoutesHeader accordionItemHeading">
    <p>routes it belongs to</p>
  </div>

  <div class="phRoutesContent accordionItemContent">
    <p>hola que hase</p>
  </div>
</div> --}}





<script src="/javascripts/accordion.js"></script>
<script src="/javascripts/map/geolocate.js"></script>
<script src="/javascripts/registerPhenom.js"></script>
