<div class="slider">
  {{#each phenomenon.imgPhenomUrls}}
  <img src={{this}} alt="">
  {{/each}}
</div>

<div class="phHeader">
  <div class="phTitle">
    <h5>{{phenomenon.name}}</h5>
    {{#if editUser}}
    <a href="/phenomena/{{phenomenon._id}}/edit/"><i class="x-update"></i></a>
    <a href="/phenomena/{{phenomenon._id}}/delete/"><i class="x-delete"></i></a>
    {{/if}}
  </div>
  <div class="phTypeDate">
    <p>{{phenomenon.type}}</p>
    <p>|</p>
    <p>discovered on {{phenomCreationDate}}</p>
  </div>
</div>

<div class="phFavReg">
  <div class="phFavRegCell">
    <a href="#"><i class="x-sighting"></i>register</a>
  </div>

  <div class="phFavRegCell">
    <a href="#"><i class="x-favorite"></i>favourite</a>
  </div>
</div>

<div class="phBody">
  <div class="phCreator">
    <p>discovered by:</p>
    <p>{{creator.username}}</p>
  </div>

  <div class="accordionWrapper">

    <div class="accordionItem">
      <div class="accordionItemHeading">
        <p>description:</p>
      </div>
      
      <div class="accordionItemContent">
        {{!-- <p>{{phenomenon.description}}</p> --}}
      </div>
    </div>

    <div class="accordionItem">
      <div class="accordionItemHeading">
        <p>community comments</p>
      </div>

      <div class="accordionItemContent">
        <p>hola que hase</p>
      </div>
    </div>

    <div class="accordionItem">
      <div class="accordionItemHeading">
        <p>community images</p>
      </div>

      <div class="accordionItemContent">
        <p></p>
      </div>
    </div>

    <div class="accordionItem">
      <div class="accordionItemHeading">
        <p>routes it belongs to</p>
      </div>

      <div class="accordionItemContent">
        <p>hola que hase</p>
      </div>
    </div>


  </div>


</div>

<script src="../../javascripts/accordion.js"></script>