<div class="slider">
  {{#each phenomenon.imgPhenomUrls}}
  <img src={{this}} alt="" width="80%">
  {{/each}}
</div>


<div class="phHeader">
  <div class="phTitle">
    <h2>{{phenomenon.name}}</h2>
  </div>
  <div class="phTypeDate">
    <p>{{phenomenon.type}}</p>
    <p>|</p>
    <p>{{phenomenon.created_at}}</p>
  </div>
</div>
<div class="phFavReg">
  <div class="phFavourite">
    <a href="#">Favourite</a>
  </div>
  <div class="phRegister">
    <a href="#">Register</a>
  </div>
</div>

<div class="phBody">
  <div class="phCreator">
    <p>{{phenomenon.creatorId}}</p>
  </div>
  <div class="phDescription">
    <p>{{phenomenon.description}}</p>
  </div>
  <div class="phReviews">
    <p>Reviews</p>
  </div>
  <div class="phGallery">

  </div>
  <div class="phRoutes">

  </div>
</div>