<div class="slider">
  {{#each phenomenon.imgPhenomUrls}}
  <img src={{this}} alt="">
  {{/each}}
</div>


<div class="phHeader">
  <div class="phTitle">
    <h2>{{phenomenon.name}}</h2>
    {{#if userEdit}}
    <i class="fa-edit"></i>
    <i class="x-delete"></i>
    {{/if}}
  </div>
  <div class="phTypeDate">
    <img src="/images/markers/small/{{phenomenon.type}}.png" alt="">
    <p>{{phenomenon.type}}</p>
    <p>|</p>
    <p>{{phenomenon.created_at}}</p>
  </div>
</div>
<div class="phFavReg">
  <div class="phFavourite">
    <a href="#"><i class="x-favorite"></i></a>
    <span>{{numberFavourites}}</span>
  </div>
  <div class="phRegister">
    <a href="#"><i class="x-registered"></i></a>
    <span>{{numberVisitors}}</span>
  </div>
</div>

<div class="phBody">
  <div class="phCreator">
    <p>Discoverer: </p>
    <p>{{creator.username}}</p>
  </div>
  <div class="phDescription">
    <p>{{phenomenon.description}}</p>
  </div>
  <div class="phReviews">
    <p>Reviews: {{numberReviews}}</p>
  </div>
  <div class="phGallery">

  </div>
  <div class="phRoutes">

  </div>
</div>