<div class="slider owl-carousel owl-theme">
  {{#each phenomenon.imgPhenomUrls}}
  {{!-- <div class="sliderImage"> --}}
    <img src={{this}} alt="">
  {{!-- </div> --}}
  {{/each}}
</div>

<div class="section firstSection">
  <div class="phenomMainInfo">
    {{#if editUser}}
    <h4 class="mainTitle">{{phenomenon.name}}</h4>
    <div class="actions">
      <a href="/phenomena/{{phenomenon._id}}/edit/"><i class="x-update"></i></a>
      <a href="/phenomena/{{phenomenon._id}}/delete/"><i class="x-delete"></i></a>
    </div>
    {{else}}
    <h4 class="mainTitle alone">{{phenomenon.name}}</h4>
    {{/if}}
  </div>
  {{#if editUser}}
   <p class="typePhenomenon">category: {{phenomenon.type}}</p>
  <p class="discoveredOn">discovered on: {{phenomCreationDate}}</p>
  {{else}}
  <p class="typePhenomenon alone">{{phenomenon.type}}</p>
  <p class="discoveredOn alone">discovered on: {{phenomCreationDate}}</p>
  {{/if}}
  <div class="messages">
      {{#each messages}}
        <div class="error-message">{{this}}</div>
      {{/each}}
    </div>
</div>

<div class="section sectionBtn">
  <div class="registerPhenom">
    <form method="POST" action="/phenomena/{{phenomenon._id}}/register">
      <div class="form-group">
        <input type="hidden" name="latitude" placeholder="latitude">
        <input type="hidden" name="longitude" placeholder="longitude">
      </div>
      <button type="submit"><span class="x-sighting{{#if visited}}-fill active{{/if}}"></span></button><span class="text">sighted</span>
    </form>
  </div>
 
  <div class="favouritePhenom">
    <form method="POST" action="/phenomena/{{phenomenon._id}}/favourite">
      <button type="submit"><span class="x-favorite{{#if favourite}}-fill active{{/if}}"></span></button><span class="text">favourite</span>
    </form>
  </div>
</div>

<div class="section sectionOtherBtns">
  <div class="ATR"><a class="addToRouteBtn" href="/routes/add/{{phenomenon._id}}"><span class="x-routes routesBtn"></span><span class="text"> add to route</span></a></div>
  <div class="VIM"><a class="viewInMapBtn" href="/map?lat={{lat}}&lng={{lng}}"><span class="x-map mapBtn"></span><span class="text"> view in map</span></a></div>
</div>

<div class="section secondSection">
  <p class="discoveredBy"><span class="text">discovered by:</span> <span class="username">{{phenomenon.creatorId.username}}</span></p>
</div>

<div class="section thirdSection">
  <p class="description">description:</p>
  <p class="text">{{phenomenon.description}}</p>
</div>


<div class="section fourthSection">
  <p class="routes"><span class="text">routes it belongs:</span> <span class="x-back" id="expandRoutes"></span></p>
  <ul class="routesList" id="routesAccordion">
    {{#unless phenomenon.routesImIn}}
      <li class="route noRoute">There is no route with this phenomenon</li>
    {{/unless}}
    {{#each phenomenon.routesImIn}}
      <li class="route">
        <a href="/routes/{{this._id}}/detail">
          <span class="x-routes routesIcon"></span>
          <span>{{this.routetitle}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>


<div class="section fifthSection">
  <p class="comments"><span class="text">comments:</span> <span class="x-back" id="expandComments"></span></p>
  <ul class="commentsList" id="commentsAccordion">
    {{#unless reviews}}
    <li class="comment noComment">There are no comments in this phenomenon yet</li>
    {{/unless}}
    {{#each reviews}}
    <li class="comment">
      <p class="metaData">
        <span>
          <span>{{this.formatTime}}</span><span> | </span><span>{{this.formatDate}}</span>
        </span>
        <span class="author">author: {{this.authorId.username}}</span>
      </p>
      <p class="commentContent">{{this.content}}</p>
    </li>
    {{/each}}
  </ul>
</div>

<div class="section addCommentSection">
  <form class="addComment" method="POST" action="/phenomena/{{phenomenon._id}}/postReview">
    <div class="commentBox">
      <textarea type="text" name="content" placeholder="write your comment here"></textarea>
      <button type="submit" class="addCommentBtn"><span class="x-plus"></span></button>
    </div>
  </form>
</div>

{{!-- <div class="phGallery accordionItem">
  <div class="phGalleryHeader accordionItemHeading">
    <p>community images</p>
  </div>

  <div class="phGalleryContent accordionItemContent">
    <p>Aqui se mostrara la galleria</p>
  </div>
</div> --}}




<script src="/javascripts/vendor/jquery-3.3.1.min.js"></script>
<script src="/javascripts/vendor/owl-carousel/owl.carousel.min.js"></script>
<script src="/javascripts/accordion.js"></script>
<script src="/javascripts/map/geolocate.js"></script>
<script src="/javascripts/registerPhenom.js"></script>
