
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <form class="editForm" action="/editProfile" method="post" enctype="multipart/form-data">

    {{#if user.photoProfile}}
    <input class="inputfile" type="file" accept="image/*;capture=camera" name="file" id="file">
    <label class="profilePicture" for="file"><img id="imgUpl" src="{{user.photoProfile}}" alt=""></label>

    {{else}}
    <input type="file" accept="image/*;capture=camera" name="file" id="file" class="inputfile">
    <label class="profilePicture" for="file"><img id="imgUpl" src="/images/avatars/addimg.png" alt="profilePicture"></label>
    {{/if}}
    <div class="rowForm usernameBox">
      {{!-- <label for="username">Username</label> --}}
      <input type="text" name="username" value="{{user.username}}">
    </div>
    <div class="rowForm">
      <label for="email">Email</label>
      <input type="email" name="email" value="{{user.email}}">
    </div>

    <div class="rowForm">
      <label for="caption">Caption</label>
      <input type="caption" name="caption" value="{{user.caption}}">
    </div>

    <div class="rowForm">
      <label for="description">Description</label>
      <textarea rows="4" cols="50" type="description" name="description">{{user.description}}</textarea>
    </div>

    <input type="hidden" name="userId" value="{{user.id}}">

    <div class="actions">
      <a href="/profile"><span class="x-back"></span></a>
      <button type="submit"><span class="x-save"></span></button>
    </div>
  </form>


<script src="/javascripts/fileUpload.js"></script>
