<div class="proHeader">
  <a href="/profile/edit"><i class="x-update"></i></a>
</div>

<div class="proPicture">
  {{#if user.photoProfile }}
  <img src="{{user.photoProfile}}" width="50%" alt="">
  {{else}}
  <img src="../images/avatars/neutral.png" width="50%" alt="">
  {{/if}}
</div>

<div class="proUserInfo">
  <h2>{{user.username}}</h2>
  <div class="proEmailDate">
    {{#if user.email}}
    <p>{{user.email}}</p>
    {{else}}
    <p>No email</p>
    {{/if}}
    <p> | </p>
    <p>Member since: {{userCreationDate}}</p>
  </div>
</div>

<div class="proCaption">
  <h4>Caption</h4>
  <p>{{user.caption}}</p>
</div>

<div class="proDescr">
  <h4>Description</h4>
  <p>{{user.description}}</p>
</div>


<div class="section fourthSection">
  <p class="titles">
    <span class="iconNum">
      <span class="x-sighting" ></span>
      <span class="text">{{numSight}}</span>
      <span class="text">Sightnings</span>
    </span>
    <span class="x-back" id="sightSection"></span>
  </p>
  <ul class="list" id="sightAccordion">
    {{#unless sighted}}
      <li class="title noList">You have no sightnings</li>
    {{/unless}}
    {{#each sighted}}
      <li class="title">
        <a href="/phenomena/{{this._id}}/">
          <img src="/images/markers/big/{{this.type}}.png" alt="">
          <span>{{this.name}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>

<div class="section fourthSection">
  <p class="titles">
    <span class="iconNum">
      <span class="x-registered" ></span>
      <span class="text">{{numReg}}</span>
      <span class="text">Registers</span>
    </span>
    <span class="x-back" id="regSection"></span>
  </p>
  <ul class="list" id="regAccordion">
    {{#unless registed}}
      <li class="title noList">You have no registers</li>
    {{/unless}}
    {{#each registed}}
      <li class="title">
        <a href="/phenomena/{{this._id}}/">
          <img src="/images/markers/big/{{this.type}}.png" alt="">
          <span>{{this.name}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>

<div class="section fourthSection">
  <p class="titles">
    <span class="iconNum">
      <span class="x-favorite"></span>
      <span class="text">{{numFav}}</span>
      <span class="text">Favourites</span>
    </span>
    <span class="x-back" id="favSection"></span>
  </p>
  <ul class="list" id="favAccordion">
    {{#unless favourites}}
      <li class="title noList">You have no favorites</li>
    {{/unless}}
    {{#each favourites}}
      <li class="title">
        <a href="/phenomena/{{this._id}}/">
          <img src="/images/markers/big/{{this.type}}.png" alt="">
          <span>{{this.name}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>

<script src="/javascripts/accordion.js"></script>
