<div class="proHeader">
  <a href="/profile/edit"><i class="x-update"></i></a>
</div>

<div class="proPicture">
  {{#if user.photoProfile }}
  <img src="{{user.photoProfile}}" width="50%" alt="">
  {{else}}
  <img src="../images/avatars/neutral.png" width="50%" alt="">
  {{/if}}
</div>

<div class="proUserInfo">
  <h2>{{user.username}}</h2>
  <div class="proEmailDate">
    {{#if user.email}}
    <p>{{user.email}}</p>
    {{else}}
    <p>No email</p>
    {{/if}}
    <p> | </p>
    <p>Member since: {{userCreationDate}}</p>
  </div>
</div>

<div class="proCaption">
  <h4>Caption</h4>
  <p>{{user.caption}}</p>
</div>

<div class="proDescr">
  <h4>Description</h4>
  <p>{{user.description}}</p>
</div>

<div class="proMetrics">
  <div class="proBox userSignings">
    <i class="x-sighting"></i>
    <p>{{numberVisits}}</p>
    <p>sightnings</p>
  </div>
  <div class="proBox userRegisters">
    <i class="x-registered"></i>
    <p>{{numberReg}}</p>
    <p>registered</p>
  </div>
  <div class="proBox userFavs">
    <i class="x-favorite"></i>
    <p>{{numFavs}}</p>
    <p>favourites</p>
    </div>
</div>