<div class="exit">
  <a href="/">x</i></a>
  <a href="/profile/edit">Edit</a>
</div>

<div>
  <h2>Profile</h2>
  <img src="{{user.photoProfile}}" width="50%" alt="">
  <p>{{user.username}}</p>
  <p>{{user.email}}</p>
</div>

<div class="phenomCreated">
  <h2>My Phenomena</h2>
  <ul>
    {{#each phenomenaUser}}
    <li>{{this.name}}</li>
    <li>{{this.description}}</p>
      <a href="/phenomena/{{this.id}}/edit">Edit</a>
      <a href="/phenomena/{{this.id}}/delete">Delete</a>
    {{/each}}
  </ul>
</div>