<div class="proHeader">
  <a href="/profile/edit"><i class="x-update"></i></a>
</div>

<div class="proPicture">
  {{#if user.photoProfile }}
  <img src="{{user.photoProfile}}" width="50%" alt="">
  {{else}}
  <img src="../images/avatars/neutral.png" width="50%" alt="">
  {{/if}}
</div>

<div class="proUserInfo">
  <h2>{{user.username}}</h2>
  <div class="proEmailDate">
    <p>{{user.email}}</p>
    <p>|</p>
    <p>Member since: {{user.createdAt}}</p>
  </div>
</div>

<div class="proCaption">
  <h3>Caption</h3>
  <p>{{user.caption}}</p>
</div>

<div class="proDescr">
  <h3>Description</h3>
  <p>{{user.description}}</p>
</div>

<div class="proMetrics">
  <div class="proBox userSignings">
    <i class="x-sighting"></i>
  </div>
  <div class="proBox userRegisters"><i class="x-registered"></i></div>
  <div class="proBox userFavs"><i class="x-favorite"></i></div>
</div>